<div class="App">
  <section>
  <header>
    <div class="logo-nav__container">
      <div class="mobile-menu-absolute__container " [ngClass]="{'open-mobile-menu' : isSideMenuOpen}">
        <aside>
          <button (click) = "openCloseSideMenu()">
            <img src="./assets/images/icon-close.svg"/>
          </button>
          <nav>
            <ul>
              <li>
                <a>Collections</a>
              </li>
              <li>
                <a>Men</a>
              </li>
              <li>
                <a>Women</a>
              </li>
              <li>
                <a>About</a>
              </li>
              <li>
                <a>Contact</a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>
      <button class="hamburger-bar__button" (click) = "openCloseSideMenu()">
        <img src="./assets/images/icon-menu.svg"/>
      </button>
      <img src="./assets/images/logo.svg">
      <nav class="desktop__nav">
          <a>Collections</a>
          <a>Men</a>
          <a>Women</a>
          <a>About</a>
          <a>Contact</a>
      </nav>
    </div>
    <div class="user-actions__container">
      <div class="cart__container">
        <div (click) = "openCloseCartWindow()">
          <img src="./assets/images/icon-cart.svg" />
          <div class="small-message__container" [ngStyle]="cart.length !== 0 ? {display:'inline'} : {display:'none'}">
            {{cart.length}}
          </div>
        </div>
        <div class="cart-popup-window-outer__container" [ngStyle]="isCartOpen ? { display:'flex'} : { display:'none'}">
          <div class="cart-popup-window-inner__container">
            <div class="cart-title__container">
              Cart
            </div>
            <div class="cart-info__container" *ngIf="cart[0]; else emptyCart">
              <div class="items__container">
              <div class="item__container">
                <img src="./assets/images/image-product-1-thumbnail.jpg" class="item-img">
                <div class="item-info__container">
                  <p>{{cart[0].name}}</p>
                  <div class="price__container">
                    <p class="multiple-price">{{product.discountPrice | currency : "USD"}} x {{counterCount}}</p>
                    <p class="sum-price">{{cart[0].discountPrice | currency : "USD"}}</p>
                  </div>
                </div>
                <img src="./assets/images/icon-delete.svg" class="delete-img" (click)="deleteFromCart()"/>
              </div>
            </div>
            <button class="checkout__button">Checkout</button>
            </div>
            <ng-template #emptyCart>
              <div class="empty-cart__container">
                Your cart is empty
              </div>
            </ng-template>
          </div>
        </div>
      </div> 
      <img src="./assets/images/image-avatar.png" class="avatar"/>
    </div>
  </header>
  <main>
    <div class="images__container">
        <img src={{selectedImagePath}} class="main__img"/>
      <div class="small-images__grid">
        <img src="./assets/images/image-product-1.jpg" (click) = "changeImg(0)"/>
        <img src="./assets/images/image-product-2.jpg" (click) = "changeImg(1)"/>
        <img src="./assets/images/image-product-3.jpg" (click) = "changeImg(2)"/>
        <img src="./assets/images/image-product-4.jpg" (click) = "changeImg(3)"/>
      </div>
    </div>
    <div class="info-outer__container">
      <div class="info-inner__container">
        <h2 class="sneakers-company__text">{{product.company}}</h2>
        <h1 class="title">{{product.name}}</h1>
        <p class="grey-text">{{product.description}}</p>
        <div class="price__container">
          <div class="current-price__container">
            <h1>{{product.discountPrice | currency : "USD"}}</h1>
            <div class="discount__container">
              <p>{{product.discount}}%</p>
            </div>
          </div>
          <div class="last-price__container">
            {{product.price | currency : "USD"}}
          </div>
        </div>
        <div class="action__container">
          <div class="counter__container">
           <button (click) = "counterMinus()">
            <img src="./assets/images/icon-minus.svg"/>
           </button>
           <p>{{counterCount}}</p>
           <button (click) = "counterPlus()">
            <img src="./assets/images/icon-plus.svg"/>
           </button> 
          </div>
          <button class="add-to-cart__button" (click) = "addToCart()">
            <svg width="22" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M20.925 3.641H3.863L3.61.816A.896.896 0 0 0 2.717 0H.897a.896.896 0 1 0 0 1.792h1l1.031 11.483c.073.828.52 1.726 1.291 2.336C2.83 17.385 4.099 20 6.359 20c1.875 0 3.197-1.87 2.554-3.642h4.905c-.642 1.77.677 3.642 2.555 3.642a2.72 2.72 0 0 0 2.717-2.717 2.72 2.72 0 0 0-2.717-2.717H6.365c-.681 0-1.274-.41-1.53-1.009l14.321-.842a.896.896 0 0 0 .817-.677l1.821-7.283a.897.897 0 0 0-.87-1.114ZM6.358 18.208a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm10.015 0a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm2.021-7.243-13.8.81-.57-6.341h15.753l-1.383 5.53Z" fill="white"/></svg>
            {{cart[0] ? "Delete from cart" : "Add to cart"}}
          </button>
        </div>
      </div>
      
    </div>
  </main>
  </section>
</div>

<router-outlet></router-outlet>
